.comments{
    padding: 48px 24px ;
    background-image: url(../img/comments-bg.jpg);
    background-size: cover;
    & .swiper-slide{
        display: flex;
        justify-content: center;
    }
}

.container-comments{
    margin: 80px;

    position: relative;
}

.slide-item{
    display: grid;
    gap: 20px;
    grid-template-columns: 0.5fr 1fr;
    max-width: 500px;
    color: #fff;
    margin: 0 20px;
    & img{
        opacity: 1;
    }
}

.slide-barber{
    text-align: center;
    & img{
        display: block;
        width: 200px;
        border-radius: 10px;
        margin-bottom: 10px;
box-shadow: 69px 20px 87px 17px rgba(0, 0, 0, 0.75);    }
    & h3{
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    & ul{
        display: flex;
        justify-content: center;
        & li img{
            width: 20px;
            margin: 4px;
        }
    }

}

.slide-comment{
    text-align: center;
    & .comment-info{
        font-size: 13px;
        font-weight: 400;
        opacity: .4;
        margin: 10px 0;
        text-align: center;
    }
    & h3{
        margin: 5px 0;
    }
    & p{
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
    }
}

.swiper-wrapper {
    width: 100vw;
}
